select, input[type="text"] {
    margin: 0.5rem auto;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
    width: 80%;
    display: block;
  }
  
  input[type="file"] {
    display: none;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #FF6B6B;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: 'Comfortaa', cursive;
  }
  
  button:hover {
    background-color: #e25555;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
  }
  