:root {
  --theme-color: #FF6B6B;
  --text-color: #FF6B6B;
  --hover-color: #E65050;
  --text-scale: 1;
}

html {
  font-size: calc(16px * var(--text-scale));
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: white;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* DARK THEME */
body[data-theme='dark'] {
  --theme-color: #ffffff;
  --text-color: #ffffff;
  --hover-color: #cccccc;
  background-color: #121212;
  color: var(--text-color);
}

/* CORAL THEME */
body[data-theme='coral'] {
  --theme-color: #FF6B6B;
  --text-color: #FF6B6B;
  --hover-color: #E65050;
  background-color: #fff;
  color: var(--text-color);
}
