@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fall Animation */
@keyframes fall {
  0% { transform: translateY(0); opacity: 0.7; }
  100% { transform: translateY(100vh); opacity: 0; }
}

@layer utilities {
  .animate-fall {
    animation: fall linear infinite;
  }
}
